* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

li {
  list-style: none;
}

a {
  color: #999;
  text-decoration: none;
  transition: color .2s ease;
  cursor: pointer
}

a:hover {
  color: #f33!important;
}

.fl {
  float: left;
}



#allmap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
}

/* 去掉百度地图左下角文字 */
.anchorBL {
  display: none;
}

/* 地图搜索下拉列表 */

.tangram-suggestion-main {
  z-index: 2019;
}


.header {
  background: #fff;
  padding: 10px;
  font-size: 14px;
  height: 54px!important;
}

.middle {
  margin: 10px 0
}

.header button {
  position: relative;
  top: -2px;
  margin-left: 20px;
}
.header label {
text-align: right
}
.header label {
  margin-left: 20px
  }

input{
  background-color: #F2F6FC!important;
  border-radius: 0!important
}
textarea{
  background-color: #F2F6FC!important
}

